.nav a {
    color: black;
    text-decoration: none;
}

.hero {
    border: black 3px solid;
}

.icons a {
    color: black;
    text-decoration: none;
}

.bottom a {
    color: black;
    text-decoration: none;
}